<%- contentFor('header') %>
<div class="profile-header flex-aligner flex-bottom flex-center-horizontal">
    <div class="row">
        <div class="col-xs-12">
            <div class="profile-image"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h2 class="text-center"><%= user.Username %></h2>
            <h3 class="text-center"><%= user.FirstName %> <%= user.LastName %></h3>
            <h3 class="text-center"><%= user.EmailAddress %></h3>
            <p class="text-center">- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex commodi sequi, iusto mollitia ad distinctio deserunt dicta!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn">14 Videos</button>
        </div>
        <div class="col-md-offset-3 col-md-2">
            <button class="btn">10 Watching</button>
        </div>
        <div class="col-md-2">
            <button class="btn">4 Watchers</button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button class="btn">Watch</button>
        </div>
    </div>
</div>
<div class="profile-divider"></div>
<%- contentFor('body') %>
<div class="container">
    
</div>